/cache
/mod_launcher
/avcodec-58.dll
/avdevice-58.dll
/avfilter-7.dll
/avformat-58.dll
/avutil-56.dll
/game.exe
/glew32.dll
/iconv.dll
/libcocos2d.dll
/libcrypto-1_1.dll
/libcurl.dll
/libmpg123.dll
/libogg.dll
/libssl-1_1.dll
/libtiff.dll
/libvorbis.dll
/libvorbisfile.dll
/lua51.dll
/msvcp100.dll
/msvcp110.dll
/msvcp120.dll
/msvcp140.dll
/msvcr100.dll
/msvcr110.dll
/msvcr120.dll
/node.dll
/NPGameDLL.dll
/OpenAL32.dll
/opengl32.dll
/SDL2.dll
/sqlite3.dll
/swresample-3.dll
/swscale-5.dll
/uv.dll
/vccorlib140.dll
/vcruntime140.dll
/version.txt
/websockets.dll
/zlib1.dll
/_update.zip


dev/**/*.png
dev/**/*.plist
dev/**/*.mp3
dev/**/*.jpg
dev/**/*.ttf
dev/**/*.map

/digital_res_local.json
